body{
	margin:0px;
	padding:0px;
}


.backimg {
    background-image: url('background.jpg');
	background-color:black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
	
    background-position: center center;
    background-size: cover;
}
.center {
    text-align:  center;
    height: 200px;
    width: 400px;
display:block;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -200px;
}
h1{
    text-shadow:2px 2px black;
    font-style: oblique italic;
    font-size:80px;
}
p{
    font-size:x-large;
}
.message{
	margin-top:-10px;
	 background-color:black;
   opacity:0.6;
   padding:50px;
}
.buttons {
    width:200px;
    height:50px;
    text-align:center;
    padding-left:100px;
}
p a {
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    display: block;
}
p a:hover{
    background-color:darkcyan;
    text-shadow:2px 2px black;
    color:white;
}

ul{
	margin:0px;
	padding:0px;
}

ul li a{
	text-decoration:none;
	color:white;
	display:block;
}

ul li{
	text-decoration:none;
	float:left;
	width:100px;
	height:40px;
	font-size:20px;
	line-height:40px;
	text-align:center;
	margin:0px 20px;
	display:block;
	
	
}

ul li a:hover{
background-color:lightgreen;
color:black;
}

ul li ul li{display:none;
}

.navbar{
	text-align:center;
	margin-left:%;
	margin-right:%
		
}

ul li:hover ul li{
	display:block;
align:center;
text-align:center;
}
